
.board{
    position: relative;
    width: 50vh;
    margin:1vh auto;
    align-self: center;
    justify-self: center;
}

#confirm{
    width: 50%;
    margin: auto;
    margin-top: 2vh;
}

h4{
    width: 30%;
    margin: 1vh;
}

.prompt{
    width: 80%;
    margin: auto;
}

#dispensers{
    width:100%;
}


#boardSide{
    width:65%;
    margin:auto;
    overflow: hidden;
}

#form{
    width:80%;
    margin:auto;
}

mat-form-field{
    width:100%;
    margin:auto;
}

mat-radio-button{
    margin:5px;
}

#radioLabel{
    font-size: medium;
}

