<div id=selectionBar>
  <button mat-raised-button style="margin:2%;" color="primary" (click)="goHome()">Back to puzzle list</button>
  <app-selection-bar [heldPart]="board.heldPiece" [boardState]="this.board.boardState" [partList]="board.boardPieces"
    (clickHolding)="setHolding($event)" (stepBoard)="boardStep()" (triggerPlay)="triggerPlay()" (reset)="clearBoard()"
    [isPuzzleBoard]="true" (displayAnswer)="showAnswer()" (clearMarbles)="clearMarbles()" [inPlay]="board.inPlay">
  </app-selection-bar>
</div>
<div id="boardSide">
  <div class="prompt">
    <mat-card>
      <mat-card-title *ngIf="!hasUserName(); else userName">{{puzzle.title}}</mat-card-title>
      <ng-template #userName>
        <mat-card-title>{{puzzle.title}} by {{puzzle.author}}</mat-card-title>
      </ng-template>
      <mat-card-subtitle>{{puzzle.difficulty}} stars</mat-card-subtitle>
      <mat-card-content>
        <div>
          {{puzzle.description}}
        </div>

      </mat-card-content>

      <mat-card-footer>
        <h4 *ngIf="this.board.expectedResults.length !=0">
          Expected Results
        </h4>
        <mat-divider></mat-divider>
        <app-collected-marbles [marbles]="board.expectedResults"></app-collected-marbles>
        <div *ngIf="wonPuzzle()">
          <mat-card-content style="margin-left: 2%;">
            Congrats! Onto the next puzzle!
          </mat-card-content>
        </div>
      </mat-card-footer>
    </mat-card>
  </div>

  <mat-grid-list cols="3" id="dispensers" [rowHeight]="'60px'">
    <mat-grid-tile [colspan]="1">
      <app-dispenser [marbles]="board.blueMarbles" [marbleColour]="'blue'" [buttons]="false"></app-dispenser>
    </mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile [colspan]="1">
      <app-dispenser [marbles]="board.redMarbles" [marbleColour]="'red'" [buttons]="false"></app-dispenser>
    </mat-grid-tile>
  </mat-grid-list>
  <div class="board">

    <app-board [board]="board"></app-board>

  </div>

  <div id="triggers" style="width: 100%; margin: auto;">
    <mat-grid-list cols="3" rowHeight="25px">
      <mat-grid-tile [colspan]="1" [rowspan]="2">
        <app-flipper [colour]="'blue'" (clickedFlipper)="clickedFlipper($event)" [inPlay]="board.inPlay"></app-flipper>
      </mat-grid-tile>
      <mat-grid-tile>Speed</mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="2">
        <app-flipper [colour]="'red'" (clickedFlipper)="clickedFlipper($event)" [inPlay]="board.inPlay"></app-flipper>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-slider #SpeedSliderMs invert min="100" max="3100" step="100" value="1500" id="mat-slider"
          (input)="changeSpeed(SpeedSliderMs.value)" color="primary">
        </mat-slider>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>