<div *ngIf="!checkPuzzleId(); else showPuzzle">
    <div *ngFor="let puzzle of puzzleList; index as i" class="card">
        <app-puzzle-card [puzzle]="puzzle" [index]=i (puzzleClicked)="setPuzzleTo($event)"></app-puzzle-card>
    </div>

    <div class="footer">
        <mat-paginator [length]="puzzles.length" [pageSize]="5" (page)="changePage($event)">
        </mat-paginator>
    </div>
</div>
<ng-template #showPuzzle>
    <app-play-puzzle [puzzle]="this.puzzles[puzzleId]" (home)="goHome()"></app-play-puzzle>
</ng-template>