
.card{
    width: 80%;
    margin:auto;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.footer{
    position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  height: 3rem;
}

button{
    width:10%;
    margin:auto;
}

.centre{
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width:100%;
}

.chip-list{
  width:40%;
  margin: auto;
}

#wrapper{
  position: relative;
  min-height: 92vh;
}

#list-content{
  padding-bottom: 3.5rem;
}