<div id="wrapper">
    <mat-grid-list cols="11" rowHeight="1:1">
        <div *ngFor="let row of board.slots; index as x">
            <div *ngFor="let slot of row; index as y">
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <app-pin class="pin" *ngIf="slot && checkPin(slot.partName)" [pin]="slot" [x]="x" [y]="y"
                        (slotClicked)="slotClicked($event)"></app-pin>
                    <app-comp-slot class="compSlot" *ngIf="slot && checkCompSlot(slot.partName)" [compSlot]="slot"
                        [x]="x" [y]="y" [marble]="board.inPlayMarble" (slotClicked)="slotClicked($event)">
                    </app-comp-slot>
                </mat-grid-tile>
            </div>
        </div>
    </mat-grid-list>
    <app-collected-marbles [marbles]="this.board.collectedMarbles"></app-collected-marbles>
</div>