<div id="wrapper">
    <mat-grid-list cols="11" rowHeight="2:1" style="margin-bottom: 2px;">
        <mat-grid-tile [colspan]="3"></mat-grid-tile>
        <mat-grid-tile [colspan]="1" style="color: blue; font-size:2vh;">&darr;</mat-grid-tile>
        <mat-grid-tile [colspan]="3"></mat-grid-tile>
        <mat-grid-tile [colspan]="1" style="color: red; font-size:2vh;">&darr;</mat-grid-tile>
    </mat-grid-list>
    <mat-grid-list cols="11" rowHeight="1:1">
        <div *ngFor="let row of board.slots; index as x">
            <div *ngFor="let slot of row; index as y">
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <app-slot *ngIf="slot && (slot.partName) == 'Pin'" [slot]="slot" [x]="x" [y]="y"
                        [marble]="board.inPlayMarble" (slotClicked)="slotClicked($event)"></app-slot>
                    <app-slot *ngIf="slot && (slot.partName) == 'CompSlot'" [slot]="slot"
                        [x]="x" [y]="y" [marble]="board.inPlayMarble" (slotClicked)="slotClicked($event)">
                    </app-slot>
                    <div *ngIf="x==10 && !slot && marblePresent(x,y)">
                        <img *ngIf="board.inPlayMarble.colour == 'blue'; else redMarble" src="assets/blue-marble.svg" width="100%" height="100%">
                        <ng-template #redMarble><img src="assets/red-marble.svg" width="100%" height="100%"></ng-template>
                    </div>
                </mat-grid-tile>
            </div>
        </div>
    </mat-grid-list>
    <mat-grid-list cols="12" rowHeight="8:1" [gutterSize]="'0px'" style="margin-bottom: 2px;">
        <mat-grid-tile [colspan]="6" style="background-color: rgb(44, 117, 253);"></mat-grid-tile>
        <mat-grid-tile [colspan]="6" style="background-color:  rgb(248, 83, 83);"></mat-grid-tile>
    </mat-grid-list>
    <div [ngClass]="gapAtBottom ? 'gap' : '' ">
        <app-collected-marbles [marbles]="this.board.collectedMarbles"></app-collected-marbles>
    </div>
</div>