<div class="wrapper">
    <div id="InfoContent">
        <mat-grid-list [cols]="3" [rowHeight]="'46vh'" [gutterSize]="'4vw'">
            <mat-grid-tile>
                <div>
                    <h2>About this App</h2>
                    <p>
                        This site was created as part of my 4th year honours project at Glasgow University.
                        It may be rough around the
                        edges in
                        a
                        few sections but I hope you can still enjoy the main content and features.
                    </p>
                    <p>
                        The main feature of this site is the ability to simulate a <a
                            href="https://www.turingtumble.com/" style="color: inherit;">Turing Tumble board game</a>
                        but also includes puzzle making and sharing.
                    </p>
                </div>
            </mat-grid-tile>
            <mat-grid-tile>
                <div>
                    <h2>Tutorial</h2>
                    <p>
                        This app runs entirely in the browser, so requires no install. Use the side navigation bar to
                        the left to navigate to other parts of the app.
                    </p>
                    <p>
                        If you are unfamiliar with the app and the
                        Turing Tumble board game visit the tutorial section <a routerLink="/tutorial">here</a>!
                    </p>
                </div>
            </mat-grid-tile>
            <mat-grid-tile>
                <div>
                    <h2>About the Turing Tumble</h2>
                    <p>The Turing Tumble board game was designed to teach people how to code by teaching them the simple
                        yet powerful components that make up the computers we use everyday.
                    </p>
                    <p>By playing the puzzles, hopefully you'll get a better idea of how your computer works on the
                        small scale and develop the logic needed to improve your coding skills!</p>
                </div>
            </mat-grid-tile>
        </mat-grid-list>
    </div>
    <mat-divider></mat-divider>
    <div id="FeaturedPuzzles">
        <h2 style="margin-top: 2vh;">Featured Boards</h2>
        <mat-grid-list [cols]="4" [rowHeight]="'35vh'" [gutterSize]="'2vw'">
            <mat-grid-tile>
                <div class="board">
                    <a routerLink="/plain-board">
                        <app-board [board]="example1" [gapAtBottom]="false"></app-board>
                    </a>
                </div>
            </mat-grid-tile>
            <mat-grid-tile>
                <div class="board">
                    <a routerLink="/plain-board">
                        <app-board [board]="example2" [gapAtBottom]="false"></app-board>
                    </a>
                </div>
            </mat-grid-tile>
            <mat-grid-tile>
                <div class="board">
                    <a routerLink="/plain-board">
                        <app-board [board]="example3" [gapAtBottom]="false"></app-board>
                    </a>
                </div>
            </mat-grid-tile>
            <mat-grid-tile>
                <div class="board">
                    <a routerLink="/plain-board">
                        <app-board [board]="example4" [gapAtBottom]="false"></app-board>
                    </a>
                </div>
            </mat-grid-tile>
        </mat-grid-list>
    </div>


</div>