<div class="wrapper">
    <mat-card>
        <mat-card-title>
            <h1>Home Page</h1>
        </mat-card-title>
        <mat-card-content>
            <p>Welcome to the Virtual Turing Tumble site!</p>
            <p>
                This site was created as part of my 4th year individual project at Glasgow University. The code icon in
                the
                top right will take you to the Github for this project with all the code and notes taken during the
                project.
                If you have any questions or suggestions please find my email in the Github. This site will be
                maintained
                for the duration of my time at Uni and hope people have fun with it. It may be rough around the edges in
                a
                few sections but I hope you can still enjoy the main content and features.
            </p>
            <p>
                The main feature of this site is the ability to simulate a <a href="https://www.turingtumble.com/"
                    style="color: inherit;">Turing Tumble board game</a> but also includes puzzle making and sharing.
            </p>
        </mat-card-content>
    </mat-card>

</div>