
.board{
    position: relative;
    width: 55vh;
    margin:1vh auto;
    align-self: center;
    justify-self: center;
}


#confirm{
    width: 50%;
    margin: auto;
    margin-top: 2%;
}

.prompt{
    width: 80%;
    margin: auto;
}

#dispensers{
    width:100%;
}

#selectionBar{
    margin-top: 2vh;
    margin-left: 2vw;
    width:25%;
    overflow: hidden;
    float: left;
}

#boardSide{
        width:65%;
        overflow: hidden;
}

#form{
    width:80%;
    margin:auto;
}

mat-form-field{
    width:100%;
    margin:auto;
}

mat-radio-button{
    margin:5px;
}

#radioLabel{
    font-size: medium;
}

