<div class="board">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-sm">
        <app-dispenser [marbleColour]="'blue'"></app-dispenser>
      </div>
      <div class="col-sm">
        <app-dispenser [marbleColour]="'red'"></app-dispenser>
      </div>
    </div>
    <div class="row justify-content-md-center" *ngFor="let row of board.slots">
      <div class="col-sm" *ngFor="let slot of row">
        <app-pin *ngIf="slot && checkPin(slot.partName)" [pin]="slot"></app-pin>
        <app-comp-slot *ngIf="slot && checkCompSlot(slot.partName)" [compSlot]="slot"></app-comp-slot>
      </div>
    </div>
    <div class="row justify-content-md-center">
      <div class="col-sm">
        <app-flipper [colour]="'blue'"></app-flipper>
      </div>
      <div class="col-sm">
        <app-flipper [colour]="'red'"></app-flipper>
      </div>
    </div>
    <div *ngFor="let collectedMarble of board.collectedMarbles">{{collectedMarble.colour}}</div>
  </div>
</div>