<div id=selectionBar>
  <app-selection-bar [heldPart]="board.heldPiece" [partList]="board.boardPieces" (clickHolding)="setHolding($event)"
    (stepBoard)="boardStep()" (triggerPlay)="triggerPlay()" (reset)="clearBoard()"
    (clearMarbles)="this.board.clearMarbles()" [inPlay]="board.inPlay" (exampleEmitter)="setExample($event)">
  </app-selection-bar>
</div>
<div id="boardSide">
  <mat-grid-list cols="4" id="dispensers" [rowHeight]="'80px'">
    <mat-grid-tile [colspan]="1">
      <app-dispenser [marbles]="board.blueMarbles" [marbleColour]="'blue'" (increaseMarble)="increaseMarble($event)"
        (decreaseMarble)="decreaseMarble($event)"></app-dispenser>
    </mat-grid-tile>
    <mat-grid-tile>
      <button mat-raised-button color="primary"  (click)="saveBoard()">Save Board</button>
    </mat-grid-tile>
    <mat-grid-tile>
      <button mat-raised-button color="primary"  (click)="fileUpload.click()">Upload Board</button>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1">
      <app-dispenser [marbles]="board.redMarbles" [marbleColour]="'red'" (increaseMarble)="increaseMarble($event)"
        (decreaseMarble)="decreaseMarble($event)"></app-dispenser>
    </mat-grid-tile>
  </mat-grid-list>
  <input hidden="true" #fileUpload type="file" class="file-button" id="file" accept="text/plain"
    (change)="uploadBoard($event.target.files)">
  <div class="board">

    <app-board [board]="board"></app-board>

  </div>
  <div id="triggers" style="width: 100%; margin: auto;">
    <mat-grid-list cols="3" rowHeight="25px">
      <mat-grid-tile [colspan]="1" [rowspan]="2">
        <app-flipper [colour]="'blue'" (clickedFlipper)="clickedFlipper($event)" [inPlay]="board.inPlay"></app-flipper>
      </mat-grid-tile>
      <mat-grid-tile>Speed</mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="2">
        <app-flipper [colour]="'red'" (clickedFlipper)="clickedFlipper($event)" [inPlay]="board.inPlay"></app-flipper>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-slider #SpeedSliderMs invert min="200" max="3000" step="100" value="1000"
          (input)="changeSpeed(SpeedSliderMs.value)" color="primary">
        </mat-slider>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>