
.board{
    position: relative;
    width: 65vh;
    margin:1vh auto;
    align-self: center;
    justify-self: center;
}

#dispensers{
    width:100%;
}

#SliderDiv{
    width:10%;
    margin: auto;
}

#selectionBar{
    margin-top: 2vh;
    margin-left: 2vw;
    width: 20%;
    max-width: 200px;
    overflow: hidden;
    float: left;
}

#boardSide{
    width:70%;
    margin: auto;
    overflow: hidden;
}


