
.board{
    position: relative;
    width: 65vh;
    margin:1vh auto;
    align-self: center;
    justify-self: center;
}

#dispensers{
    width:100%;
}

#SliderDiv{
    width:10%;
    margin: auto;
}


#boardSide{
    width:70%;
    margin: auto;
    overflow: hidden;
}


