
.board{
    position: relative;
    width: 60vh;
    margin:1vh auto;
    align-self: center;
    justify-self: center;
}

.blue{
    float:left;
    color: blue;
    margin:1vh;
}

.red{
    margin:1vh;
    float:right;
    color: red;
}

.clear{
    clear: both;
}

#dispensers{
    width:100%;
}

#selectionBar{
    margin-top: 2vh;
    margin-left: 2vh;
    width:25%;
    overflow: hidden;
    float: left;
}

#boardSide{
    width:65%;
    overflow: hidden;
}

