#wrapper{
    width: 80%;
    margin: auto;
}

.name-info{
    float: left;
}

p{
    margin:1%;
    font-size: large;
}

.board{
    width:40%;
    margin:auto;
}

table{
    width:100%;
}

.instructions{
    margin: 3%;
}

li{
    margin-left: 5%;
}

#collected-marbles{
    width: 75px;
    margin:auto;
}


