.flip {
    transform: scaleX(-1);
    width:100%;
    height:100%;
    z-index: 0;

}


.def {
    width:100%;
    height: 100%;
    z-index: 0;

}

.centre{
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100%;
    width:100%;
    transform: translate(-50%, -50%);
}

.locked{
    background-color: #506a77;

}