<div id=profileOptions>
    <button mat-raised-button color="accent">Log in</button>
    <button mat-raised-button color="accent">New profile</button>
</div>
<mat-divider></mat-divider>
<div id=plainBoard>
    <a routerLink="/plain-board" routerLinkActive="active">
        <button mat-stroked-button color="accent">Plain Board</button>
    </a>
</div>
<div id=puzzles>
    <button mat-stroked-button color="accent">Original Puzzles</button>
</div>
<div id=onlinePuzzles>
    <a routerLink="/online-puzzle" routerLinkActive="active">
        <button mat-stroked-button color="accent">Online Puzzles</button>
    </a>
</div>
<div id=makePuzzle>
    <a routerLink="/make-puzzle" routerLinkActive="active">
        <button mat-stroked-button color="accent">Create Puzzle</button>
    </a>
</div>
<mat-divider></mat-divider>