<div id=profileOptions>
    <div *ngIf="auth.user | async as user; else showLogin">
        <button mat-raised-button color="accent" (click)="logout()">Logout</button>
    </div>
    <ng-template #showLogin>
        <button (click)="login()" mat-raised-button color="accent">Log in with Google</button>
        <button (click)="anonLogin()" mat-raised-button color="accent">Log in Anonymously</button>
    </ng-template>
</div>
<mat-divider></mat-divider>
<div id=home>
    <a routerLink="/home" routerLinkActive="active">
        <button mat-stroked-button color="accent">Home</button>
    </a>
</div>
<div id=tutorial>
    <a routerLink="/tutorial" routerLinkActive="active">
        <button mat-stroked-button color="accent">Tutorial</button>
    </a>
</div>
<div id=plainBoard>
    <a routerLink="/plain-board" routerLinkActive="active">
        <button mat-stroked-button color="accent">Plain Board</button>
    </a>
</div>
<div id=puzzles>
    <a routerLink="/default-puzzles" routerLinkActive="active">
        <button mat-stroked-button color="accent">Original Puzzles</button>
    </a>
</div>
<div *ngIf="auth.user | async as user">
    <div id=onlinePuzzles>
        <a routerLink="/online-puzzle" routerLinkActive="active">
            <button mat-stroked-button color="accent">Online Puzzles</button>
        </a>
    </div>
    <div id=makePuzzle>
        <a routerLink="/make-puzzle" routerLinkActive="active">
            <button mat-stroked-button color="accent">Create Puzzle</button>
        </a>
    </div>
</div>
<mat-divider></mat-divider>