<div id=profileOptions>
    <button mat-raised-button color="accent">Log in</button>
    <button mat-raised-button color="accent">New profile</button>
</div>
<mat-divider></mat-divider>
<div id=plainBoard>
    <button mat-stroked-button color="accent">Plain Board</button> 
</div>
<div id=puzzles>
    <button mat-stroked-button color="accent">Original Puzzles</button>
</div>
<div id=onlinePuzzles>
    <button mat-stroked-button color="accent">Online Puzzles</button>
</div>
<div id=makePuzzle>
    <button mat-stroked-button color="accent">Create Puzzle</button>
</div>
<mat-divider></mat-divider>

