<mat-accordion>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title *ngIf="!hasUserName(); else userName">{{puzzle.title}}</mat-panel-title>
            <ng-template #userName>
                <mat-panel-title>{{puzzle.title}} by {{puzzle.author}}</mat-panel-title>
            </ng-template>
            <mat-panel-description>
                Difficulty - {{puzzle.difficulty}} stars
            </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-tab-group dynamicHeight>
            <mat-tab label="Puzzle Description">
                <p>{{puzzle.description}}</p>
            </mat-tab>
            <mat-tab label="Starting Setup">
                <ng-template matTabContent>
                    <mat-list style="float:left">
                        <mat-list-item class="piece" *ngFor="let part of puzzle.puzzleBoard.startingPieces | keyvalue">
                            {{part.key}} - {{part.value}}
                        </mat-list-item>
                    </mat-list>
                    <div style="width: 300px; margin:auto;">
                        <app-board [board]="puzzle.puzzleBoard"></app-board>
                    </div>
                </ng-template>
            </mat-tab>
            <mat-tab label="Expected Output">
                <ng-template matTabContent>
                    <app-collected-marbles [marbles]="puzzle.puzzleBoard.expectedResults"></app-collected-marbles>
                </ng-template>
            </mat-tab>
        </mat-tab-group>
        <button mat-raised-button color="primary" (click)="click()">
            Play
        </button>
    </mat-expansion-panel>
</mat-accordion>