.numCircle {
    border-radius: 50%;
    width: 25px;
    height: 25px;
    padding: 5px;
    color: white;
    text-align: center;
    margin: auto;
}

.blue{
    background-color: rgb(0, 89, 255);
}

.red{
    background-color: rgb(255, 56, 56);
}

button{
    margin: 2;
}