<mat-card class="wrapper">
    <div class="pieces">
        <div class="piece" *ngFor="let part of partList | keyvalue : sortByDiff">
            <button class="pieceButtons" mat-raised-button [color]="isSelected(part.key) ? 'primary' : 'accent'"
                (click)="clicked(part.key)" [matTooltip]="getInfo(part.key)" [matTooltipPosition]="'right'"
                aria-label="Piece button">
                {{part.key}}
                <span *ngIf="isPuzzleBoard && notStarting()">
                    {{part.value}}
                </span>
                <img style="width: 28%; float:right" alt="Piece icon"[src]="getPic(part.key)">
            </button>
        </div>

    </div>
    <div>
        <button class="pieceButtons" mat-raised-button [color]="isSelected('DeletePiece') ? 'primary' : 'warn'"
            (click)="delete()">
            Delete Piece
        </button>
        <div *ngIf="notStarting()">
            <button mat-raised-button color="warn" (click)="stepBoard.emit();">Step Forward</button>
            <button mat-raised-button color="warn" (click)="triggerPlay.emit();">{{ inPlay ? 'Pause' : 'Play'}}</button>
            <button mat-raised-button color="warn" (click)="reset.emit();">Reset Board</button>
            <button *ngIf="!isPuzzleBoard" mat-raised-button color="warn" (click)="clearMarbles.emit();">Reset
                Marbles</button>
            <div *ngIf="isPlaying()">
                <button mat-raised-button color="warn" (click)="clearMarbles.emit();">Reset Marbles</button>
                <button mat-raised-button color="warn" (click)="displayAnswer.emit();">Show Answer</button>
            </div>
        </div>
        <div *ngIf="isPuzzleBoard && !isPlaying()">
            <button *ngIf="!notStarting()" mat-raised-button color="warn" (click)="confStartingPieces.emit();">Confirm
                set
                up</button>
            <button *ngIf="notStarting()" mat-raised-button color="warn" (click)="confPuzzleOutput.emit();">Confirm
                output</button>
        </div>
        <div *ngIf="!isPuzzleBoard">
            <button mat-raised-button color="primary" (click)="exampleEmitter.emit(1)">Example 1 - Pattern</button>
            <button mat-raised-button color="primary" (click)="exampleEmitter.emit(2)">Example 2 - Counting</button>
            <button mat-raised-button color="primary" (click)="exampleEmitter.emit(3)">Example 3 - Addition</button>
            <button mat-raised-button color="primary" (click)="exampleEmitter.emit(4)">Example 4 - Pattern</button>
        </div>
    </div>
</mat-card>