<div (click)="click()">
    <div *ngIf="slot.piece; else slotDefault">
        <app-piece [piece]="slot.piece" [marble]="marble"></app-piece>
    </div>
    <ng-template #slotDefault>
        <img *ngIf="!isMarbleFall(); else marbleFall" width="100%" height="100%" src={{slot.image}}>
        <ng-template #marbleFall>
            <img *ngIf="marble.colour=='blue'; else redMarble" width="100%" height="100%"
                src="assets/blue-marble-fall.svg">
            <ng-template #redMarble><img width="100%" height="100%" src="assets/red-marble-fall.svg"></ng-template>
        </ng-template>
    </ng-template>
</div>
