<div (click)="click()" (mouseenter)="hover=true" (mouseleave)="hover=false">
    <div *ngIf="slot.piece; else slotDefault">
        <app-piece [piece]="slot.piece" [marble]="marble"></app-piece>
    </div>
    <ng-template #slotDefault>
        <div *ngIf="!isMarbleFall(); else marbleFall">
            <img *ngIf="!hover || !shouldHover(); else ghostImage" width="100%" height="100%" src={{slot.image}} alt="Slot">
            <ng-template #ghostImage>
                <img class="hoverImage" [src]="getPieceImage()" width="100%" height="100%" alt="ghostImage">
            </ng-template>
        </div>
        <ng-template #marbleFall>
            <img *ngIf="marble.colour=='blue'; else redMarble" width="100%" height="100%"
                src="assets/blue-marble-fall.svg" alt="Blue marble fall">
            <ng-template #redMarble><img width="100%" height="100%" src="assets/red-marble-fall.svg" alt="Red marble fall"></ng-template>
        </ng-template>
    </ng-template>
</div>
