.spacer{
    flex: 1 1 auto;
}

a{
    color:white;
}

mat-sidenav{
    width:220px;
}

mat-sidenav-container{
    flex-shrink: 1;
    flex-grow: 1;
}

#title{
    margin-left: 2%;
    font-size: x-large;
}



#router{
    margin-top: 1vh;
    width:100%;
    overflow: hidden;
}

.container{
    width:100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#toolbar{
    flex-shrink: 0;
    flex-grow: 0;
    height: 7vh;
}





