.spacer{
    flex: 1 1 auto;
}

a{
    color:white;
}

mat-sidenav{
    width:220px;
}

mat-sidenav-container{
    height: 100vh;
}

#title{
    font-size: x-large;
}

#SliderDiv{
    margin-top: 2%;
    width:25%;
}

#router{
    margin-top: 2%;
    width:100%;
    overflow: hidden;
}

// .sidenav-container{
//     background-color: rgb(252, 252, 252);
// }
