<span [ngClass]="this.darkTheme ? 'unicorn-dark-theme' : 'defTheme'">
    <div class="container">
        <mat-toolbar color="primary" id="toolbar">
            <button mat-icon-button class="menu-icon" (click)="sidenav.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
            <a routerLink="/home" style="text-decoration: none;">
                <span id="title">Virtual Turing Tumble</span>
            </a>
            <span class="spacer"></span>
            <button mat-button (click)="this.darkTheme = !this.darkTheme">Change theme</button>
            <a id="code-link" href="https://github.com/LukeGall/Level-4-Solo-Project" target="_blank"><button
                    mat-icon-button [matTooltip]="'Github Repo'">
                    <img src="assets/github.svg">
                </button></a>
        </mat-toolbar>
        <mat-sidenav-container class="sidenav-container" [hasBackdrop]="false">
            <mat-sidenav #sidenav class="sidenav" mode="side">
                <app-sidenav></app-sidenav>
            </mat-sidenav>

            <mat-sidenav-content>
                <div id=router>
                    <router-outlet></router-outlet>
                </div>
            </mat-sidenav-content>
        </mat-sidenav-container>
    </div>
</span>