.spacer{
    flex: 1 1 auto;
}

a{
    color:white;
}

mat-sidenav{
    width:220px;
}

mat-sidenav-container{
    height: 100vh;
}

#selectionBar{
    margin-top: 2%;
    margin-left: 2%;
    width:25%;
    overflow: hidden;
    float: left;
}

#SliderDiv{
    margin-top: 2%;
    width:25%;
}

#board{
    margin-top: 2%;
    width:60%;
    overflow: hidden;
}
